/* COMMON */
img {
    max-width: 100%;
}

/* HEADER */
nav {
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
    z-index: 200;
    /* debug */
    height: 50px;
}

/* MAIN */
/* section hero */
.hero {
    background-color: #1ABC9C;
    height: 400px;
}

/* section portfolio */
.title-portfolio {
    text-align: center;
    margin-top: 3rem;
}

.card {
    /* debug */
    height: 200px;
}

.card-1 {
    background-color: #BA4B63;
}

.card-2 {
    background-color: #1EA4B6;
}

.card-3 {
    background-color: #140F0F;
}

.card-4 {
    background-color: #1C83C1;
}

.card-5 {
    background-color: #0E38B5;
}

.card-6 {
    background-color: #CCB2A3;
}






/* FOOTER */

