/* COMMON */
img {
    max-width: 100%;
}

body {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.star {
    width: 30%;
    margin: 0 auto;
  }
  
.star hr {
    width: 35%;
    border: 2px double;
  }

/* HEADER */
/* navg */
header {
    background-color: #2C3E50;
    z-index: 200;
}

/* MAIN */
/* section hero */
.hero {
    background-color: #1ABC9C;
}

.avatar {
    width: 300px;
    height: 300px;
    padding-top: 5rem;
}

/* section portfolio */
.title-portfolio {
    color: #333333;
}

.card-1 {
    background-color: #BA4B63;
}

.card-2 {
    background-color: #1EA4B6;
}

.card-3 {
    background-color: #140F0F;
}

.card-4 {
    background-color: #1C83C1;
}

.card-5 {
    background-color: #0E38B5;
}

.card-6 {
    background-color: #CCB2A3;
}

/* section about */
.about {
    background-color: #1ABC9C;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

/* contact-section  */
.informations{
    color: black;
}

.title-contact {
    color: #333333;
}

.ms_btn {
    background-color: #1ABC9C;
}

.ms_form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ms_form-control:focus {
    box-shadow: none;
}

/* FOOTER */
/* footer top */
.footer-top {
    background-color: #3A546D;
}

.footer-top p, span {
    font-size: .8rem;
}

.logos {
    list-style-type: none;
}

/* footer bottom */
.footer-bottom {
    background-color: #2C3E50;
}

.footer-bottom p {
    font-size: .7rem;
}

.logos li {
    padding-right: 3rem;
}

.logo {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 1px;
}

.color-link {
    color: #1ABC9C;
}