/* COMMON */
img {
    max-width: 100%;
}

body {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER */
/* navg */
header {
    background-color: #2C3E50;
    z-index: 200;
}

/* MAIN */
/* section hero */
.hero {
    background-color: #1ABC9C;
}

.avatar {
    width: 300px;
    height: 300px;
    padding-top: 5rem;
}

/* section portfolio */
.title-portfolio {
    color: #333333;
}

.card {
    /* debug */
    height: 200px;
}

.card-1 {
    background-color: #BA4B63;
}

.card-2 {
    background-color: #1EA4B6;
}

.card-3 {
    background-color: #140F0F;
}

.card-4 {
    background-color: #1C83C1;
}

.card-5 {
    background-color: #0E38B5;
}

.card-6 {
    background-color: #CCB2A3;
}

/* section about */
.about {
    background-color: #1ABC9C;
    margin-top: 3rem;
    /* debug */
    min-height: 500px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0 1.5rem;
}

.background {
    /* debug */
    background-color: #BA4B63;
    height: 200px;
}

.download {
    margin-top: 3rem;
    text-align: center;
}

.download-btn {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

/* contact-section  */
.title-contact {
    color: #333333;
}

.informations {
    margin-bottom: 3rem;
    /* debug */
    background-color: #0E38B5;
    height: 200px;
}

.send-informations {
    /* debug */
    height: 50px;
    background-color: brown;
}

/* FOOTER */
/* footer top */
.footer-top {
    background-color: #3A546D;
    padding-bottom: 4rem;
}

.footer-card {
    text-align: center;
    /* debug */
    background-color: chartreuse;
    height: 80px;
}

/* footer bottom */
.footer-bottom {
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer-bottom p {
    font-size: .8rem;
}
